*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
mono_crash.*
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
project.lock.json
project.fragment.lock.json
artifacts/
#wwwroot/
obj/
.idea/
node_modules/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.binlog
*.sln.iml
*.mdf
*.ldf
/data/*
data/templog.ldf
data/tempdb.mdf
data/TaskPanel_Main_log.ldf
data/TaskPanel_Main.mdf
data/msdblog.ldf
data/msdbdata.mdf
data/modellog.ldf
data/model.mdf
data/mastlog.ldf
data/master.mdf
